/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: #cccccc;
    font-family: 'Rosario', sans-serif;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

.quiz-form {
    font-size: 15px;
}



.starter-page {
    background-color: seagreen;
}

header, .starter-page, #new-question, #question-result {
    width: 66%;
    margin: auto; 
    text-align: center;
}

header {
    height: 100px;
    font-size: 60px;
    top: 0;
}

header, .photo-credit {
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0;
    color: whitesmoke;
}

.quiz-about-panel {
    font-size: 40px;
    padding: 1em;
}

#get-started {
    border-style: outset;
    border-width: 3px;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

button:hover {
    background-color: darkorange;
    border-color: darkred;
}

#new-question {
    background-color: lightseagreen;
}

.status-bar, .status-third {
    display: flexbox;
    flex-direction: row;
}

.right-wrong {
    border: 3px, solid, black;
}

.photo-credit {
    text-align: center;
    font-size: 12px;
}